/* Estilos para os produtos */
.card{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    gap: 20px;
    border-radius: 20px;
    
}

.top1{
    grid-area: top1;
    background-image: url(../../images/produtos/modelo-masculino.jpg);
    background-position: left;
}
.top2{
    grid-area: top2;
    background-image: url(../../images/produtos/roxo-verde-grid.jpg);
}
.midL{
    grid-area: midL;
    background-image: url(../../images/produtos/modelo-feminino.jpg);
}
.midR{
    grid-area: midR;    
    background-image: url(../../images/produtos/preto-azul-grid.jpg);
}
.bottomL{
    grid-area: bottomL;
    background-image: url(../../images/produtos/preto-azul-grid.jpg);
}
.bottomR{
    grid-area: bottomR;
    background-image: url(../../images/produtos/moderno-grid.jpg);
}
.grid-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas: 
        "top1 top1 top2 top2"
        "top1 top1 midL midR"
        "bottomL bottomL midL bottomR";
    gap: 20px;
}
.top1-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.card-title{
    color: #EDEDED;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 10px;
}
.card-subtitle{
    color: #EDEDED;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.cta-group{
    display: flex;
    gap: 10px;
}

